<style media="screen">
    a{
        padding: 2px 10px;
    }
    a:hover{
        cursor: pointer;
    }
    .app-modal-window .modal-dialog {
        width: 85%;
    }
</style>
<div class="table-operation" style="margin-bottom: 10px;">
    <h3>用户信息</h3>
    <div style="height:30px;">
        <button style="float: right;margin-left: 10px;" type="button" class="btn btn-default">导出</button>
        <div class='pagination'>
            <uib-pagination style="margin-top: -20px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="pageChanged()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
            <div style="float: right;position: relative;top: -20px;">
                <input style="width: 40px;" id="go_page" type="text"></input>
                <button type="button" class="btn btn-sm btn-default" ng-click="setPage()">跳转</button>
            </div>
        </div>
        <button style="float: right;width: 5%;" ng-click="search()" class="btn btn-default">搜索</button>
        <input style="width: 13%;float: right;margin-left: 5px;margin-right: 5px;" type="text" ng-model="q" class="form-control" id="hos_q" placeholder="名称 、拼音">
        <select style="width: 6%;float: right;" ng-change="search()" ng-model="city_id" class="form-control">
            <option value="">全部</option>
            <option ng-repeat="city in cities" value={{city.id}}>{{city.name}}</option>
        </select>
        <button type="button" style="float: right;margin-left: 5px;margin-right: 5px;" class="btn btn-default">备用button</button>
    </div>
</div>
<table class="table table-bordered table-hover">
    <tr style="background-color:#f6f6f6;">
        <td>#</td>
        <td>账户名</td>
        <td>电话</td>
        <td>生日</td>
        <td>备注</td>
        <td>创建日期</td>
        <td></td>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.birthday | date:'yyyy-MM-dd'}}</td>
        <td>{{user.description}}</td>
        <td>{{user.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>
            <a class="btn btn-default btn-danger btn-xs" ng-click="delete_user(user.id)" confirm="你确定要删除该用户吗？">删除</a>
            <a class="btn btn-default btn-primary btn-xs" ng-click="edit_user(user)">编辑</a>
        </td>
    </tr>
    <tr ng-show="users.length==0">
        <td colspan=7>(没有相关信息)</td>
    </tr>
    </tbody>
</table>
<div class='pagination'>
    <uib-pagination style="margin-left: 10px;margin-top: -20px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="pageChanged()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
</div>

<!-- 编辑用户 -->
<script type="text/ng-template" id="edit_user.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">编辑用户</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label for="user_birthday">生日</label>
                <input type="text" ng-model="user.birthday" class="form-control"  id='user_birthday' placeholder="生日">
            </div>
            <div class="col-md-6">
                <label for="user_phone">手机</label>
                <input type="text" ng-model="user.phone" class="form-control" id='user_phone' placeholder="手机">
            </div>
            <div class="col-md-12">
                <label for="user_remark">备注</label>
                <textarea ng-model="user.description" class="form-control"  id='user_remark' placeholder="备注"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save(user)">保存</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</script>